{% extends 'reading_tracker/main.html' %}
{% block content %}
{% load static %}

<div class="header-bar">
    <a href="{% url 'reader' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <div class="search-div">
        <form method="POST" action="" id="search-form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" id="search-book-button" class="button" value="Search">
        </form>

        <div class="manual-tips-div">
            <a href="{% url 'book-create' %}"><p id="manual-add-link">Or enter your book manually</p></a>
            <p id="search-tips" title="intitle: Returns results where the text following this keyword is found in the title.
inauthor: Returns results where the text following this keyword is found in the author.
inpublisher: Returns results where the text following this keyword is found in the publisher.
subject: Returns results where the text following this keyword is listed in the category list of the volume.
isbn: Returns results where the text following this keyword is the ISBN number.
lccn: Returns results where the text following this keyword is the Library of Congress Control Number.
oclc: Returns results where the text following this keyword is the Online Computer Library Center number.">
                <strong>&#x3f</strong>
            </p>
        </div>
    </div>

    <div id="content">
        {% if success_bool %}
            <p id="book-count">{{ book_count }} book{{ book_count|pluralize:"s" }} found</p>

            {% for book in books %}
                <form method="POST" action="" class="result-form" name="result-form">
                    {% csrf_token %}
                    <input type="hidden" value="{{ book }}" name="book_data">
                    <div class="results-div" onclick="document.forms['result-form'].submit();">
                        <div class="cover-div">
                            <img class="cover-img" src="{{ book.volumeInfo.coverUrl }}" alt="{% static 'img/icon-image-not-found.jpg' %}">
                        </div>

                        <div class="info-div">
                            <h4>{{ book.volumeInfo.title }}</h4>
                            <p>by: {{ book.volumeInfo.authors }}</p>
                        </div>
                    </div>
                </form>
            {% endfor %}

        {% else %}
            <h4 class="not-found-msg">Something went wrong, try again later</h4>

        {% endif %}
    </div>
</div>

<script src="{% static "js/search-script.js" %}"></script>

{% endblock content %}