{% extends 'reading_tracker/main.html' %}
{% block content %}
{% load static %}

<div class="header-bar">
    <div>
        <h1>Hi, <a href="{% url 'reader' %}">{{request.user|title}}</a></h1>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>

    {% else %}
    <a href="{% url 'login' %}">Login</a>

    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET", style="display: flex;">
        <input type="text" name="search-area" value="{{ search_input }}" placeholder="Search titles">
        <input class="button" type="submit" value="Search">
    </form>

    <a id="add-link" href="{% url 'book-search' %}" title="Add a new book">&#x2b</a>
</div>

<div class="book-items-wrapper">
    {% if books %}
        {% for book in books %}
            <div class="book-item">
                <div class="cover-div">
                    <img class="cover-img" src="{{ book.cover_url }}" alt="Book Cover">
                </div>

                <div class="info-div">
                    <h4>{{ book.title }}</h4>

                    <p>By: {{ book.author }}</p>

                    <p>Status: {{ book.status }}</p>

                    <form method="POST" action="" class="progress-form" name="progress-form">
                        {% csrf_token %}
                        <div class="hide-field">
                            {{ book.progress_form.id }}
                        </div>

                        {% if book.book_type == "audio-book" %}
                            <div class="hide-field">
                                <p>Current page:</p>
                                {{ book.progress_form.current_page }}
                                <p>/ {{ book.length_pages }}</p>
                            </div>

                            <div class="progress-field">
                                <p>Current time:</p>
                                {{ book.progress_form.current_time }}
                                <p>/ {{ book.length_time }}</p>
                            </div>

                        {% elif book.book_type == "paper-book" or book.book_type == "e-book" %}
                            <div class="progress-field">
                                <p>Current page:</p>
                                {{ book.progress_form.current_page }}
                                <p>/ {{ book.length_pages }}</p>
                            </div>

                            <div class="hide-field">
                                <p>Current time:</p>
                                {{ book.progress_form.current_time }}
                                <p>/ {{ book.length_time }}</p>
                            </div>

                        {% endif %}
                    </form>
                </div>

                <div class="delete-update-book">
                    <a class="delete-book" href="/book-delete/{{ book.id }}"><img src="https://imgur.com/1RcmYHg" alt="Delete"></a>
                    <a class="update-book" href="/book-update/{{ book.id }}"><img src="https://imgur.com/dwRNbU0" alt="Update"></a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="transaction-wrapper">
            <h3 class="not-found-msg">Looks like you don't have any books yet. Add some with the plus button above!</h3>
        </div>
    
    {% endif %}
    
</div>

{% endblock content %}