{% extends 'reading_tracker/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hi, <a href="{% url 'reader' %}">{{request.user|title}}</a></h1>
        <h3 style="margin:0">{{ finished_count }} book{{ finished_count|pluralize:"s" }} read in {{ current_year }}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>

    {% else %}
    <a href="{% url 'login' %}">Login</a>

    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET", style="margin-top: 20px; display: flex;">
        <input type="text" name="search-area" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>

    <a id="add-link" href="{% url 'book-create' %}">&#x2b</a>
</div>

<div class="budget-items-wrapper">
    {% if book %}
    <table>
        <thead>
            <tr>
                <th scope="col">
                    <h4><a href="">Title</a></h4>
                </th>
                
                <th scope="col">
                    <h4><a href="">Page</a></h4>
                </th>

                <th scope="col">
                    <h4><a href="">Started</a></h4>
                </th>

                <th scope="col">
                    <h4><a href="">Finished</a></h4>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for i in book %}
            <tr style="padding: 10px; border-top: 10px solid #000000;">
                <td>
                    <a href="/book-update/{{ i.id }}">{{ i.title }}</a>
                </td>

                <td>{{ i.current_page }}/{{ i.total_pages }}</td>

                <td>{{ i.date_started }}</td>

                {% if i.date_finished %}
                <td>{{ i.date_started }}</td>

                {% else %}
                <td>N/A</td>

                {% endif %}

                <td style="padding: 0%;"><a href="/book-delete/{{ i.id}}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="transaction-wrapper">
        <h3>No books found</h3>
    </div>
    
    {% endif %}
    
</div>

{% endblock content %}