{% extends 'reading_tracker/main.html' %}
{% block content %}
{% load static %}

<div class="header-bar">
    <a href="{% url 'reader' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <div style="padding: 5px;">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="hide-field">
                {{ form.cover_url }}
                {{ form.gbooks_id }}
            </div>

            <div class="create-field">
                {{ form.title.label }}
                {{ form.title }}
            </div>

            <div class="create-field">
                {{ form.author.label }}
                {{ form.author }}
            </div>

            <div class="create-field">
                {{ form.publisher.label }}
                {{ form.publisher }}
            </div>

            <div class="create-field">
                {{ form.description.label }}
                {{ form.description }}
            </div>

            <div id="book_type" class="create-field">
                {{ form.book_type.label }}
                {{ form.book_type }}
            </div>

            <div id="length_pages" class="hide-field">
                {{ form.length_pages.label }}
                {{ form.length_pages }}
            </div>

            <div id="length_time" class="hide-field">
                {{ form.length_time.label }}
                {{ form.length_time }}
            </div>

            <div class="create-field">
                {{ form.status.label }}
                {{ form.status }}
            </div>

            <input class="button" type="submit" value="Submit" style="margin: 0px auto; display: block;">
        </form>
    </div>
</div>

<script>
    const bookTypeField = document.getElementById('id_book_type');

    const lengthPagesField = document.getElementById('id_length_pages');
    const lengthTimeField = document.getElementById('id_length_time');

    const lengthPagesDiv = document.getElementById('length_pages');
    const lengthTimeDiv = document.getElementById('length_time');

    // show/hide length fields depending on book type, making field required as necessary
    bookTypeField.addEventListener('change', (event) => {
        if (event.target.value == 'paper-book' || event.target.value == 'e-book') {
            lengthPagesField.required = true;
            lengthTimeField.required = false;

            lengthPagesDiv.classList.remove('hide-field');
            lengthTimeDiv.classList.remove('create-field');

            lengthPagesDiv.classList.add('create-field');
            lengthTimeDiv.classList.add('hide-field');
            
        } else if (event.target.value == 'audio-book') {
            lengthPagesField.required = false;
            lengthTimeField.required = true;
            
            lengthPagesDiv.classList.remove('create-field');
            lengthTimeDiv.classList.remove('hide-field');

            lengthPagesDiv.classList.add('hide-field');
            lengthTimeDiv.classList.add('create-field');

        } else {
            lengthPagesDiv.classList.remove('create-field');
            lengthTimeDiv.classList.remove('create-field');

            lengthPagesDiv.classList.add('hide-field');
            lengthTimeDiv.classList.add('hide-field');
        }
    });
</script>

{% endblock content %}