{% extends 'reading_tracker/main.html' %}
{% block content %}
{% load static %}

<div class="header-bar">
    <a href="{% url 'reader' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <div class="search-div">
        <form id="search-form">
            <input type="text" id="search-book-area" name="text-area" placeholder="Enter title, author, publisher, or ISBN">
            <input type="submit" id="search-book-button" class="button" value="Search">
        </form>

        <div class="manual-tips-div">
            <a href="{% url 'book-create' %}"><p id="manual-add-link">Or enter your book manually</p></a>
            <p id="search-tips" title="intitle: Returns results where the text following this keyword is found in the title.
inauthor: Returns results where the text following this keyword is found in the author.
inpublisher: Returns results where the text following this keyword is found in the publisher.
subject: Returns results where the text following this keyword is listed in the category list of the volume.
isbn: Returns results where the text following this keyword is the ISBN number.
lccn: Returns results where the text following this keyword is the Library of Congress Control Number.
oclc: Returns results where the text following this keyword is the Online Computer Library Center number.">
                <strong>&#x3f</strong>
            </p>
        </div>
    </div>

    <div id="content"></div>
</div>


<script>
    const coverNotFoundImg = "{% static 'img/icon-image-not-found.jpg' %}";
</script>

<script src="{% static "js/search-script.js" %}"></script>

{% endblock content %}