{% extends 'reading_tracker/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'reader' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <div>
        <input type="text" id="search-book-area" placeholder="Enter title, author, publisher, or ISBN">
        <input type="submit" id="search-book-button" class="button">
    </div>

    <a href="{% url 'book-create' %}">Or enter your book manually</a>

    <div id="content"></div>
</div>

<script src="{% static "js/search-script.js" %}"></script>

{% endblock content %}